*{
    margin: 0;
    padding: 0;
}
@font-face {
	font-family: 'Oswald'; 
	src: url('/fonts/Oswald.ttf'); 
}

body{
    background-image: url('https://i.ytimg.com/vi/eJSVVofwCLk/maxresdefault.jpg');
    font-family: 'Oswald', sans-serif;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.sidebar{
    min-width: 256px;
    max-width: 256px;
    height: 100vh;
    
}
.side{
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
}

.blur{
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.background{
    display: flex;
    flex-direction: row;
}

.content{
    display: flex;
    flex-wrap: wrap;
    height: min-content;
}

.project-back{
    width: 256px;
    height: 256px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 4px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.project-view-button{
    font-size: 2vh;
    width: calc(100% - 8px);
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(24, 24, 24);
    transition: .25s;
    text-decoration: none;
    border-radius: 3px;
    margin: 4px;
    
    color: snow;
    text-transform: uppercase;
}
.project-view-button:hover{
    cursor: pointer;
    background-color: rgb(32, 32, 32);
}
.project-preview{
    height: 100%;
    color: #222222;
    font-size: 1.8vh;
    padding: 6px;
}
.project-name{
    font-size: 3vh;
    color: #181818;
    margin: 4px;
}

.nickname{
    color: snow;
    font-size: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bio{
    color: snow;
    font-size: 2vh;
    margin: 8px 0 8px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.link{
    width: min-content;
    text-decoration: none;
    /* border-radius: 32px; */
    background-color: snow;
    color: #020202;
    
    margin: 2px;
    padding: 6px 6px 6px 26px;    
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 18px;
    border: solid 1px #020202;
    transition: .25s;
    flex: 1 0 auto;
}
.link:hover{
    box-shadow:#020202 2px 2px;
    translate: -2px -2px;
}

.profilepicture{
    background-image: url('/images/profilepicture.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 240px;
}

.contacts{
    display: flex;
    justify-content: center;
}
.mail-contact{
    font-size: 1.8vh;
    color: antiquewhite;
    text-decoration: none;
    transition: .25s;
}

@media (max-width: 540px) {
    .side{
        position: absolute;
        min-width: 100%;
    }
    .background{
        flex-direction: column;
    }
    .sidebar{
        min-width: 100%;
    }
    .content{
        justify-content: center;
    }
    .project-back{
        width: 85%;
    }
}